<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>
<article class="about">
    <h2>About me</h2>
    <p>
       This is a project website where you can show, products or even make a blog out of it if the template of each project is re-arrenged. I´m a food lover so I decided to go with food as a topic for the example´s info. 
    </p>
    <p>
        Done with Angular, JavaScript, Html, CSS, NodeJs and MongoDB.
    </p>
</article>
<div class="container">
    <div class="gallery">
        <div><img src="assets/img/japanese.jpg" title="Japanese meal"></div>
        <div><img src="assets/img/chinese.jpeg" title="Chinese meal"></div>
        <div><img src="assets/img/spanish.jpg" title="Spanish meal"></div>
        <div><img src="assets/img/moroccan.jpg" title="Moroccan meal"></div>
    </div>
</div>