<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>
<article class="about">
    <h2>About me</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis, risus eget pretium tristique, felis lacus commodo nibh, vitae dignissim mauris orci ac arcu. Maecenas rhoncus iaculis nisi, a vulputate mi suscipit eget. Donec hendrerit dolor enim, in commodo odio accumsan sed. Maecenas sed suscipit tortor. Vestibulum in nulla neque. Suspendisse auctor turpis eu turpis tincidunt, non accumsan nunc ultrices. Sed id laoreet magna. Sed ut dapibus urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae sodales mi, quis mollis ligula. Cras suscipit lectus nec dui porttitor finibus. Suspendisse scelerisque tellus vitae libero venenatis, nec tincidunt risus efficitur. In hac habitasse platea dictumst. Vestibulum in vestibulum quam. In hac habitasse platea dictumst. Vivamus vulputate mattis pellentesque.
    </p>
</article>