/* Loading fonts 
@font-face{
    font-faily: "insert font";
    src: url("../fonts/nameofthefont.ttf")
};


*/


/*  General styles   */

*{
    margin: 0px; 
    padding: 0px; 
}



body{
    font-family: "Arial";
    font-size: 20px; 
    background: url('../img/pattern.png');
    background-attachment: fixed; 
}

.clearfix{
    float: none; 
    clear: both; 
}

/* Navigation bar / Header */

header{
    display: block; 
    width: 100%;
    height: 90px; 
    background: rgba(53, 103, 164, 0.8);
    position: fixed; 
    text-transform: uppercase; 
}

header ul{
    display: block; 
    width: 44%; 
    height: inherit; 
    margin: 0px auto; 
    margin-top: -3px; 
}

header ul li{
    display: inline-block; 
    margin: 0px auto; 
    text-align: center; 
    line-height: 90px; 
}

header a{
    display: block; 
    padding-right: 20px; 
    padding-left: 20px; 
    height: inherit;
    text-decoration: none; 
    color: white;
    transition: all 300ms; 
}

header a:hover,
.actived{
    background: rgba(0, 0, 0, 0.8);
}

/* Logo */

#logo{
    font-family: "Arial";
    font-size: 30px; 
}

#logo a{
    transition: color 500ms, transform 500ms; 
}

#logo a:hover{
    background: transparent;
    color: black; 
    transform: scale(1.5, 1.5); 
}

/* Main container */

#content{
    min-height: 550px; 
    height: auto; 
    width: 75%; 
    margin: 0px auto; 
    border-left: 1px solid #b7b7b7; 
    border-right: 1px solid #b7b7b7; 
    box-shadow: 0px 0px 40px black; 
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px; 
}

/* Footer */ 

footer{
    width: 75%; 
    margin: 0px auto; 
    padding-top: 15px; 
    color: rgba(0, 0, 0, 0.5);
}


/* About me */

#title{
    width: 70%; 
    margin: 0px auto;
    text-align: center;
    margin-bottom: 70px; 
    margin-top: 20px; 
}

#title h1{
    font-family: "Arial";
    font-size: 60px; 
    border-bottom: 3px solid #ccc;
    padding-bottom: 5px; 
}

#title h2{
    font-size: 25px; 
    color: gray; 
    margin-top: 5px;
    margin-bottom: 5px; 
}

article.about{
    width: 70%; 
    margin: 0px auto;
    margin-bottom: 20px; 
    font-size: 23px; 
}

.about h2{
    border-bottom: 1px solid #ccc; 
    padding-bottom: 5px; 
    margin-bottom: 5px; 
}

.about p{
    padding-top: 20px; 
    padding-bottom: 30px; 
    text-align: justify; 
    font-size: 20px; 
    color: grey; 
}

/* Form  */ 

.container{
    padding: 50px;
    padding-top: 10px; 
}

.container .image{
    float: left;
    width: 47%;
}

.container .image img{
    width: 100%;
}

.container .data{
    float:left; 
    width: 48%;
    margin-left: 30px;
}

.container h2{
    display: block; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; 
    margin-bottom: 15px; 
}

form{
    width: 80%; 
}

form label{
    display: block;
    width: 100%;
    margin-top: 10px; 
    margin-bottom: 5px; 
}

form input[type="text"],
form input[type="numner"],
form input[type="email"],
form textarea{
    width: 40%;
    padding: 5px; 
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
    display: block; 
    font-size: 18px;
    padding: 10px; 
    margin-top: 15px; 
    color: white;
    background: rgba(53, 103, 164, 1);
    border: 1px solid rgb(15, 49, 91);
}

.button-edit,
.button-delete{
    width: 20%;
    float: left; 
    margin-right: 10px;
    text-decoration: none;
    cursor:pointer;
}

form button:hover, 
form input[type="submit"]:hover{
    background: rgba(53, 103, 164, 0.8);
    border: 1px solid rgba(15, 49, 91);
}


form input[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}

.form_error{
    padding: 3px;
    color: red;
    font-size: 16px;
}

.message{
    width: 50%;
    padding: 5px; 
    border: 1px solid #eee;
}


.success{
    color: green;
}

.message a{
    color: blue
}

.failed{
    color: red;
}
/* Project's page */

.project{
    display: block;
    list-style: none;
    float: left; 
    width: 28%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px; 
    margin-bottom: 30px; 

}

.project .image{
    width: 100%;
    height: 120px;
    overflow: hidden; 

}

.project img{
    width: 100%; 

}

.project a{
    text-decoration: none;
    color: black; 
}
