<html>

  <head>
    <title>My food blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    <header>
      <ul>
        <li><a [routerLink]="['/about-me']" [routerLinkActive]="['actived']">About me</a></li>
        <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
        <li id="logo"><a href="#">SN</a></li>
        <li><a [routerLink]="['/create']" [routerLinkActive]="['actived']">Create</a></li>
        <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
      </ul>
    </header>

    <section id="content">
      <router-outlet></router-outlet>
    </section>

    <footer>
      Project made by Sergi Navarro &copy;
    </footer>
  </body>
</html>

